<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Назначенные тесты</h1>
            </div>
        </div>
    </div>
    <!--/.page-header-->

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <strong>Назначенный тест:</strong> <span th:text="${appointUserTest.test.name}"></span>
                </p>
                <p>
                    <strong>Доступность:</strong>
                    <th:block th:if="*{appointUserTest.startDate != null}">
                        <span th:text="@{'с ' + *{appointUserTest.startDate.toLocalDateTime().toLocalDate()}}"></span>
                    </th:block>
                    <th:block th:if="*{appointUserTest.endDate != null}">
                        <span th:text="@{' до ' + *{appointUserTest.endDate.toLocalDateTime().toLocalDate()}}"></span>
                    </th:block>
                    <th:block th:if="*{appointUserTest.startDate == null && appointUserTest.endDate == null}">
                        доступ по дате не ограничен
                    </th:block>
                </p>
                <p>
                    <strong>Возможное число попыток:</strong>
                    использовано
                    <span th:text="*{appointUserTest.userAttempts.size()}"></span>
                    <th:block th:if="*{appointUserTest.maxAttemptCount != null}">
                        из
                        <span th:text="*{appointUserTest.maxAttemptCount}"></span>
                    </th:block>
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" th:href="@{'/test/appoint/' + ${appointUserTest.id} + '/start/'}">Начать тест</a>
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.bs-docs-section -->

</div>
<!-- /.container -->


<!-- Footer -->
<footer th:include="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>

</body>

</html>