<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Назначить тест</h1>
            </div>
        </div>
    </div>


    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-9">
                <form th:action="@{'/cabinet/users/' + ${userId} + '/test/add/'}" th:object="${appointUserTest}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{user.id}" />

                    <div class="form-group mx-sm-3 mb-2">
                        Назначить тест для: <span th:text="*{user.name}"></span>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        Тест:
                        <select th:field="*{test.id}">
                            <option value="#" disabled="disabled" selected="selected">- Select test -</option>
                            <option th:each="test: ${tests}" th:text="${test.name}" th:value="${test.id}"></option>
                        </select>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        Доступ с:
                        <input th:field="*{startDate}" placeholder="dd.MM.yyyy"/>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        Доступ до:
                        <input th:field="*{endDate}" placeholder="dd.MM.yyyy"/>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        Максимальное число попыток:
                        <input th:field="*{maxAttemptCount}"/>
                    </div>
                    <div class="btn btn-primary mb-2">
                        <button type="submit" class="btn btn-primary submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>

</body>

</html>