<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Тест</h1>
                <h3 th:text="${test.name}"></h3>
            </div>
        </div>
    </div>
    <!--/.page-header-->

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <strong>Осталось времени:</strong>
                <span id="timer"></span>
            </div>
        </div>
    </div>

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12" id="test">
                <form method="post" th:object="${testForm}" th:action="@{'/test/attempt/' + ${userAttempt.uid} + '/solve/'}">
                    <input th:type="hidden" th:id="finishTestTime" th:value="${finishTestTime}"/>
                    <input th:type="hidden" th:id="nowTime" th:value="${nowTime}"/>
                    <div class="col-lg-12" th:each="attemptQuestion, iterator : ${attemptQuestions}">
                        <div class="card h-100">
                            <label th:text="${attemptQuestion.question.name}">Предпочитаемые категории детей для работы</label>
                            <p>
                                <pre th:text="${attemptQuestion.question.text}"></pre>
                            </p>
                            <div th:each="answer : ${attemptQuestion.question.answers}">
                                <input th:name="@{'solutions[' + ${iterator.index} + '].attemptQuestionId'}" th:value="${attemptQuestion.id}" th:type="hidden"/>
                                <th:block th:if="${#strings.equals(attemptQuestion.question.questionType.code, 'ALONE')}">
                                    <input th:field="*{solutions[__${iterator.index}__].answerIds}" th:value="${answer.id}" th:type="radio" th:id="${answer}"/>
                                </th:block>
                                <th:block th:if="${#strings.equals(attemptQuestion.question.questionType.code, 'MULTIPLE')}">
                                    <input th:field="*{solutions[__${iterator.index}__].answerIds}" th:value="${answer.id}" th:type="checkbox" th:id="${answer}"/>
                                </th:block>
                                <!--<label th:for="${answer}" th:text="${answer.text}"></label>-->
                                <pre th:text="${answer.text}"></pre>
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary btn-lg" />

                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->


<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>
<script th:inline="javascript">
//<![CDATA[
$(document).ready(
    function() {
        if ($('#finishTestTime').val() != "" && $('#nowTime').val() != "") {
            countDownTimer();
        }
    }
);
//]]>
</script>

</body>

</html>