<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>GeoCode test</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/default/vendor/bootstrap/css/bootstrap.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{/static/default/css/style.css}" rel="stylesheet" />
</head>
