<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="inc/head.inc::head"></head>

<body>

<!-- Navigation -->
<div th:replace="inc/top_nav.inc::top_nav"></div>

<!-- Page Content -->
<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Назначенные тесты</h1>
            </div>
        </div>
    </div>
    <!--/.page-header-->

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Название теста</th>
                        <th>Доступность</th>
                        <th>Попыток использовано</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="appointUserTest, iterator : ${appointUserTests}">
                        <th scope="row" th:text="@{${iterator.index} + 1}"></th>
                        <td>
                            <a th:href="@{'/test/appoint/' + *{appointUserTest.id} + '/'}" th:text="*{appointUserTest.test.name}"></a>
                        </td>
                        <td>
                            <span th:if="*{appointUserTest.startDate != null}" th:text="@{'с ' + *{appointUserTest.startDate.toLocalDateTime().toLocalDate()}}"></span>
                            <span th:if="*{appointUserTest.endDate != null}" th:text="@{' до ' + *{appointUserTest.endDate.toLocalDateTime().toLocalDate()}}"></span>
                        </td>
                        <td>
                            <span th:text="*{appointUserTest.userAttempts.size()}"></span>
                            <th:block th:if="*{appointUserTest.maxAttemptCount != null}">
                                из
                                <span th:text="*{appointUserTest.maxAttemptCount}"></span>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.bs-docs-section -->

</div>
<!-- /.container -->


<!-- Footer -->
<footer th:replace="inc/footer.inc::footer"></footer>

<!-- Bootstrap core JavaScript -->
<div th:replace="inc/js.inc::js"></div>

</body>

</html>